.layout {
  display: flex;
  flex-direction: column;
  .section1, .section2, .section4 {
    padding: 0px 130px;
    background-color: white;
  }
  .section3 {
    padding: 0px 130px;
  }
  .testimoni {
    margin-left: 130px;
  }
}

.container {
  // height: 5200px;
  // background-color: burlywood;
  display: flex;
  flex-direction: column;
  * {
    margin: 0px;
  }
}

.section1 {
  padding-top: 60px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 30px;

  &_content {
    width: 47.5%;

    * {
      margin: 20px 0px;
    }

    button {
      width: 250px; height: 60px;
      background-color: #F53838;
      position: absolute;
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      z-index: 999;
    }

    button:active {
      background-color: #cc2d2d;
    }

    .buttonfilter {
      display: flex;
      position: absolute;
      transform: translateX(15px) translateY(40px);
      width: 210px; height: 40px;
      background: rgba(245, 56, 56, 0.35);
      filter: blur(24px);
      z-index: 1;
    }
  }

  &_image {
    width: 47.5%; height: 50%;
    margin-top: 40px;
  }
}

.graphbar {
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: center;

  * {
    margin: 0; padding: 0;
  }

  &_detail {
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 15px;
    background-color: white;
    z-index: 2;

    &_users, &_locations, &_servers {
      padding: 65px 100px;
      display: flex;
      align-items: center;

      &_icon {
        width: 55px; height: 55px;
        margin-right: 20px;
        background-color: #FFECEC;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 70px;
      }

      &_header {
        margin-bottom: 5px;
        font-size: 25px;
        font-weight: 700;
      }
    }
  }
}

.graphbarfilter {
  width: 1000px; height: 190px;
  position: absolute;
  display: flex;
  border-radius: 10px;
  background: #0D1025;
  opacity: 0.06;
  filter: blur(54px);
  transform: translateY(100px);
  z-index: 1;
}

.section2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 200px;

  &_image {
    width: 47.5%;

  }

  &_content {
    width: 47.5%;
    padding-left: 50px;

    * {
      margin-bottom: 20px;
    }

    ul {
      list-style: none;
      padding: 0px;

      li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        * {
          margin: 0px;
        }

        p {
          font-size: 14px;
          margin-left: 10px;
        }
      }
    }
  }
}

.section3 {
  width: 100%; height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);

  &_content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_content2 {
    height: 700px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    // grid-template-rows: 325px;
    gap: 50px;

    &_freeplan, &_standardplan, &_premiumplan {
      border: 2px solid #DDDDDD;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      &_top, &_bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      ul {
        list-style: none;
        padding: 0px;

        li {
          display: flex;
          align-items: center;
          padding-bottom: 15px;
          color: #4F5665;

          p {
            padding-left: 10px;
            font-size: 14px;
          }
        }
      }
    }

    &_premiumplan {
      border: 2px solid #F53838;
    }

    &_freeplan_bottom button, &_standardplan_bottom button, &_premiumplan_bottom button {
      width: 180px; height: 45px;
      color: #F53838;
      background: none;
      font-size: 16px;
      font-weight: 700;
      border: 2px solid #F53838;
      border-radius: 50px;
      margin: 35px 0px 50px 0px;
      cursor: pointer;
    }

    &_freeplan_bottom button:active,
    &_standardplan_bottom button:active {
      background-color: #F53838;
      color: white;
    }

    &_premiumplan_bottom {
      button {
        color: #fff;
        background: #F53838;
      }
      &_filter {
        width: 150px; height: 45px;
        display: flex;
        position: absolute;
        background: rgba(245, 56, 56, 0.35);
        filter: blur(10px);
        border-radius: 60px;
        transform: translateY(80px);
        z-index: -1;
      }
    }
  }

  &_content3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.section4 {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.testimoni {
  display: flex;
  overflow-y: auto;
  // padding-bottom: 80px;
  scroll-behavior: smooth;
}

.testimoni::-webkit-scrollbar {
  width: 0px;
}

// .testimoni::-webkit-scrollbar {
//   width: 20px; height: 20px;
// }

// .testimoni::-webkit-scrollbar-track {
//   border-radius: 100vh;
//   background: #f7f4ed;
// }

// .testimoni::-webkit-scrollbar-thumb {
//   background: #e0cbcb;
//   border-radius: 100vh;
//   border: 3px solid #f6f7ed;
// }

// .testimoni::-webkit-scrollbar-thumb:hover {
//   background: #c0a0b9;
// }

.testimoni_scroll {
  width: 100%;
  margin: 50px 0px 180px 0px;
  padding: 0px 130px;
  display: flex;
  justify-content: space-between;

  &_bar {
    display: flex;

    &_active, &_notactive {
      margin-right: 15px;
      transition: 0.6s;
    }

    &_active {
      width: 45px; height: 15px;
      background-color: #F53838;
      border-radius: 10px;
    }

    &_notactive {
      width: 15px; height: 15px;
      background-color: #DDE0E4;
      border-radius: 10px;
    }
  }

  &_button {
    display: flex;
    cursor: pointer;

    &_icon {
      width: 60px; height: 60px;
      margin-left: 20px;
      color: #F53838;
    }

    &_icon:active {
      color: #cc2d2d;
    }
  }
}


.subscribe {
  display: flex;
  justify-content: center;

  &_container {
    width: 80%;
    display: flex;
    position: absolute;
    background-color: white;
    justify-content: space-between;
    transform: translateY(-120px);
    border: 2px solid #DDDDDD;
    border-radius: 10px;

    * {
      margin: 0px;
    }

    &_content, &_button {
      padding: 30px 70px;
    }

    &_content {
      width: 400px;
    }

    &_button {
      display: flex;
      align-items: center;

      button {
        width: 250px; height: 60px;
        background-color: #F53838;
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 700;
        line-height: 25px;
        z-index: 999;
        cursor: pointer;
      }

      &_filter {
        width: 200px; height: 60px;
        position: absolute;
        display: flex;
        background-color: black;
        background: rgba(245, 56, 56, 0.35);
        filter: blur(24px);
        border-radius: 10px;
        transform: translateX(20px) translateY(30px);
      }
    }
  }
}