.navbar {
    width: 100%;
    padding: 10px 130px 0px 130px;
    background-color: white;
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 16px;
    font-weight: normal;
    z-index: 999;

    * {
        margin: 0px;
    }

    &_logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 20px;

        .logo_icon {
            width: 35px; height: 35px;
            padding-right: 5px;
        }
    }

    &_list {
        display: flex;
        align-items: center;
        
        ul {
            list-style: none;
            display: flex;

            li {
                padding: 0px 15px;
                color: #4F5665;
            }
        }
    }

    &_sign {
        display: flex;
        align-items: center;

        button {
            width: 120px; height: 45px;
            background: none;
            border: none;
            font-size: 16px;
            font-weight: bold;
        }

        &up {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #F53855 !important;
            border-radius: 50px;
            button {
                color: #F53855;
            }
        }
    }
}